<footer class="site-footer">
    <div class="ht-container">
        <div class="site-footer__copyright">&copy; Bütün hüquqlar qorunur! © 2011-2019</div>
    </div>
</footer>

<script type="text/javascript" src="{{base_url()}}/assets/js/jquery.min.js"></script>
<script type='text/javascript' src='{{base_url()}}/assets/registry/js/jquery.livesearch.js'></script>

<script type='text/javascript'>
    /* <![CDATA[ */
    var hkbJSSettings = { "liveSearchUrl": "https:\/\/gundelik.edu.az\/help\/?ajax=1&ht-kb-search=1&s=", "focusSearchBox": "" };
/* ]]> */
</script>

<script type='text/javascript' src='{{base_url()}}/assets/registry/js/hkb-livesearch-js.min.js'></script>
<script type='text/javascript' src='{{base_url()}}/assets/registry/js/ht-exits-frontend.min.js'></script>
<script type='text/javascript' src='{{base_url()}}/assets/registry/js/ht-blocks-frontend.js'></script>
<script type='text/javascript' src='{{base_url()}}/assets/registry/js/js.min.js'></script>
<script type='text/javascript' src='{{base_url()}}/assets/registry/js/scrollspy.js'></script>

</div>
</body>

</html>